.imagens{
    background: var(--azulVermelho-degrade);
    text-align: center;   
    align-items: center;   

}
.img-size{
    width: 400px;     
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
}
    
@media screen and (min-width: 1024px){

.imagens{
    display: grid;
    grid-template-columns: 33% 34% 33%; 
}
 .imagens__peixes{
    padding: 2em; 
     
      
}
.img-size{
    width: 400px;    
     display: block;
     
}
}