
.rodapé{
    background: var(--azul-degrade);
    padding: 1em;
    font-style: italic;
    color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    
    }
   
}
@media screen and (min-width: 1728px){
   
    .rodapé{
        padding: 3em 0;
    }
} 